<%- include('./partials/header.ejs') %>
<h1>All Books</h1>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Sort Books
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="/books">Default (order added)</a></li>
    <li><a class="dropdown-item" href="/books?sort=asc">A to Z by Title</a></li>
    <li><a class="dropdown-item" href="/books?sort=desc">Z to A by Title</a></li>
    <li><a class="dropdown-item" href="/books?sort=author">A to Z by Author</a></li>
  </ul>
</div> <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Filter by Genre
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="/books">Default (all genres)</a></li>
    <li><a class="dropdown-item" href="/books?genre=Fantasy">Fantasy</a></li>
    <li><a class="dropdown-item" href="/books?genre=Sci Fi">Sci Fi</a></li>
    <li><a class="dropdown-item" href="/books?genre=Fiction">Fiction</a></li>
    <li><a class="dropdown-item" href="/books?genre=Nonfiction">Nonfiction</a></li>
    <li><a class="dropdown-item" href="/books?genre=Memoir">Memoir</a></li>
    <li><a class="dropdown-item" href="/books?genre=Horror">Horror</a></li>
  </ul>
</div><br />
<div id='views'>
  <a href='/books'><img src="/images/grid.jpg" width='25px'></a>
  <a href='/books/list'><img src="/images/list.jpg" width='25px'></a>
</div>
<br /><br />
<% for (let i = 0; i < books.length; i++) { %>
    <div class='book'>
        <% if (books[i].cover) { %>
            <p><a href='/books/<%= books[i].id%>'><img src='<%= books[i].cover %>' title='<%= books[i].title %> | By: <%= books[i].authorLast %> | <%= books[i].genre%>' height='140'></a></p>
        <% } else { %>
            <p><img src='/images/nophoto.png' height='140'></p>
        <% } %>
    </div>
<% } %>
<br /><br />
<form action='/books/new'>
    <input id='button' class='btn btn-dark' type="submit" value='Add a Book' />
</form>
<form action='/seed' method='POST'>
    <input id='button' class='btn btn-dark' type='submit' value='Seed Data'>
</form>
<%- include('./partials/footer.ejs') %>