<%- include('./partials/header.ejs') %>
<h1>Book Index</h1>
<% for (let i = 0; i < books.length; i++) { %>
    <div class='book'>
        <% if (books[i].cover) { %>
            <p><a href='/books/<%= books[i].id%>'><img src='<%= books[i].cover %>' height='140'></a></p>
        <% } else { %>
            <p><img src='/images/nophoto.png' height='140'></p>
        <% } %>
        
        <p><strong><%= books[i].title %></strong></p>
        <p>by: <%= books[i].author %></p>
    </div>
<% } %>
<br />
<form action='/books/new'>
    <input type="submit" value='Add a Book' />
</form>
<form action='/seed' method='POST'>
    <input type='submit' value='Seed Data'>
</form>
<%- include('./partials/footer.ejs') %>