<%- include('./partials/header.ejs') %>
<img id='showbook' src='<%= book.cover %>' align='left'>
<h1><%= book.title %></h1>
<% if (book.series) { %>
    <h5>(<%= book.series %>)</h5>
<% } %>
<p>By: <%= book.author %></p>
<% if (book.translator) { %>
    <p>Translated by: <%= book.translator %></p>
<% } %>

<form action='/books/<%= book.id %>/edit'>
    <input class='btn btn-dark' type='submit' value='Edit'>
</form>
<form action='/books/<%= book.id %>?_method=DELETE' method='POST'>
    <input class='btn btn-dark' type='submit' value='Delete'>
</form>
<%- include('./partials/footer.ejs') %>