<%- include('./partials/header.ejs') %>
<div class='container'>
<div class='containerimage'><img class='containerimage' id='showbook' src='<%= book.cover %>'></div>
    <div class='containertext'>
    <h2><%= book.title %></h2>
        <% if (book.series) { %>
            <h4>(<%= book.series %>)</h4>
        <% } %>
        <p>By: <%= book.authorFirst %> <%= book.authorLast %></p>
        <% if (book.translator) { %>
            <p>Translated by: <%= book.translator %></p>
        <% } %>
        <p>Genre: <%= book.genre %></p>
        <p>Tags: <%= book.tags %></p>
        <p>Rating: 
            <%if (book.rating == 1) {%>
                <img src="/images/smallstar.png" width="25px"> 
            <%} else if (book.rating == 2) {%>
                <img src="/images/smallstar.png" width="25px"> <img src="/images/smallstar.png" width="25px"> 
            <%} else if (book.rating == 3) {%>
                <img src="/images/smallstar.png" width="25px"> <img src="/images/smallstar.png" width="25px"> <img src="/images/smallstar.png" width="25px"> 
            <%} else if (book.rating == 4) {%>
                <img src="/images/smallstar.png" width="25px"> <img src="/images/smallstar.png" width="25px"> <img src="/images/smallstar.png" width="25px"> <img src="/images/smallstar.png" width="25px"> 
            <%} else if (book.rating == 5) {%>
                <img src="/images/smallstar.png" width="25px"> <img src="/images/smallstar.png" width="25px"> <img src="/images/smallstar.png" width="25px"> <img src="/images/smallstar.png" width="25px"> <img src="/images/smallstar.png" width="25px"> 
            <% } %>
    </p>
        <p>Notes: <%= book.notes %></p>
        <% if (book.read) { %>
            <p>Read: yes</p>
        <% } else { %>
            <p>Read: no</p>
        <% } %>
    </div>
<div class='containerbuttons'>
<form action='/books/<%= book.id %>/edit'>
    <input id='button' class='btn btn-dark' type='submit' value='Edit'>
</form>
<form action='/books/<%= book.id %>?_method=DELETE' method='POST'>
    <input id='button' class='btn btn-dark' type='submit' value='Delete'>
</form>
<form action='/books'>
    <input id='button' class='btn btn-dark' type='submit' value='<-- Back'>
</form>
</div>
</div>
<%- include('./partials/footer.ejs') %>